/* buttons.css */

.btn-gradient {
  background: linear-gradient(to right, #8b6f5a, #d4a373, #8b6f5a);
  background-size: 200% 200%;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.btn-gradient:active {
  transform: scale(0.95);
}

.btn-gradient:hover {
  filter: brightness(1.1);
}
