@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

/* swiper-button in landing page */
.custom-swiper-nav .swiper-button-next,
.custom-swiper-nav .swiper-button-prev {
  color: #8b6f5a;
  font-size: 16px;
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.custom-swiper-nav .swiper-button-next:hover,
.custom-swiper-nav .swiper-button-prev:hover {
  color: #333;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* brown style */
/* :root {
  
  --color-card-border: rgba(175, 143, 114, 0.4);
  --color-card-bg: transparent;
  --color-card-content-bg: rgba(255, 255, 255, 0.5);
  --color-card-content-border: rgba(161, 134, 111, 0.3);
  
  --color-skill-learn-bg: #D9C4B1;
  --color-skill-teach-bg: #F5EFE6;
  
  --color-btn-back-bg: transparent;
  --color-btn-back-hover: #F5EFE6;
  --color-btn-submit-bg: #848c67;
  --color-btn-submit-hover: #D9C4B1;
} */
:root {

  /* text color */
  --main-color: #fe7843;
  --color-text-primary: #b4afa8;
  --color-text-secondary: #7c7c7c;
  --color-text-light: #ffffff;
  --color-text-dark: #000000cc;
  --input-bg: rgba(21, 19, 19, 0.968);

  /* card style */
  --color-card-border: #8b6f5a;
  --color-card-content-border: #5d5149;
  --color-skill-teach-bg: #ffe5b4;
  --color-skill-learn-bg: #bc640dd8;
  /* --color-btn-back-hover: #c0b4a3; */
  --color-btn-submit-bg: #8b6f5a;
  --color-btn-submit-hover: #635041;
}

/* card in landing page */
.glass-card {
  background: radial-gradient(
    at top left,
    #a3875a3e 10%,
    #0e0e0e 50%,
    #1a1a1a 100%,
    #0e0e0e
  );
  backdrop-filter: blur(12px);
  background-color: #2e2e2e;
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #e9f5db;
}
/* user card in website */
 .usercard {
  background: radial-gradient(
    at bottom,
    #0e0e0e 10%,
    #1a1a1a 40%,
    #0e0e0e 100%
  );
  backdrop-filter: blur(10px);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1a1a17; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color); 
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #fe7843; 
}

::selection {
  background: rgba(255, 120, 67, 0.3);
  color: var(--color-text-light);
}

body {
  min-height: 100vh;
  background: radial-gradient(
    ellipse at bottom,
    #1a1a17 0%,
    #20201c 40%,
#191a1f 100%
  );
 
  font-family: "Manrope", sans-serif;
  /* background-color: #171411; */
 
}

/* scroll in chat */
.chat-box::-webkit-scrollbar {
  width: 6px;
}

.chat-box::-webkit-scrollbar-track {
  background: #1a1a17; 
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 4px;
}

.chat-box {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a17;
}
